<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<div>
    <h1>{{user.name}} {{user.lastname}} </h1>
    <p>{{user.email}}</p>
    <b>Rango de Edad: </b><p>{{user.age}}</p>
    <b>Altura: </b><p>{{user.altura}}</p>
    <b>Peso: </b><p>{{user.peso}}</p>
    <b>Motivo de superación: </b><p>{{user.reason}}</p>
    <br>
    <br>
    <br>
    <h3>Tu tabla de nutrición </h3>
    <table class="table">
  <tbody>
    <tr>
      <th scope="row">Número de Comidas al día</th>
      <td>{{user.numComidas}}</td>
    </tr>
    <tr>
      <th scope="row">Momento del día con más hambre</th>
      <td>{{user.hrHambre}}</td>
    </tr>
    <tr>
      <th scope="row">¿Comes entre comidas?</th>
      <td>{{user.comerEntreComida}}</td>
    </tr>
    <tr>
      <th scope="row">Postre después de la comida</th>
      <td>{{user.postre}}</td>
    </tr>
    <tr>
      <th scope="row">¿Tienes alergias?</th>
      <td>{{user.alergia}}</td>
    </tr>
    <tr>
      <th scope="row">En caso de que sí, ¿cuáles alergias?</th>
      <td>{{user.cualAlergia}}</td>
    </tr>
    <tr>
      <th scope="row">Restricción Alimenticia</th>
      <td>{{user.restriccionAlimenticia}}</td>
    </tr>
  </tbody>
</table>
</div>


<div>
<br>
<br>

    <div class="row">
      <div class="col col-10 col-md-10 col-sm-10">
        <h3>Planeación de Menú Semanal</h3>
      </div>
    </div>

    <div class="row">
      <div class="col col-10 col-md-10 col-sm-10">
        <h3>¿A partir de que fecha deseas recibir tu plan de alimentos personalizado?</h3>
      </div>
      </div>


      <div class="row">
        <div class="container">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>

        <div class="container">
          <div class="row">
            <div class="col col-10 col-md-10 col-sm-10">
              <h2>Elige que alimentos te gustaría recibir cada día.</h2>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h3>Lunes</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Martes</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Miércoles</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Jueves</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h3>Viernes</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Sábado</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Domingo</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm">
                <button type="button" class="btn btn-success">Aprobar menú</button>
              </div>
              <div class="col-sm">
                <button type="button" class="btn btn-danger">Volver a cargar</button>
              </div>
            </div>
          </div>

<br>
<br>
<h1>Suscríbete a nuestras entregas a domicilio </h1>
    <p>Rango de fechas de tu pedido</p>
    Desde:
    <input type="date">
    Hasta:
    <input type="date">
    
    <button id="paypal-button">
        Adquiere la suscripción
    </button>

<script>
paypal.Button.render({
  env: 'sandbox',
  client: {
    sandbox: 'demo_sandbox_client_id'
  },
  style: {
    color: 'gold',   // 'gold, 'blue', 'silver', 'black'
    size:  'medium', // 'medium', 'small', 'large', 'responsive'
    shape: 'rect'    // 'rect', 'pill'
  },
  payment: function (data, actions) {
    return actions.payment.create({
      transactions: [{
        amount: {
          total: '0.01',
          currency: 'USD'
        }
      }]
    });
  },
  onAuthorize: function (data, actions) {
    return actions.payment.execute()
      .then(function () {
        window.alert('Thank you for your purchase!');
      });
  }
}, '#paypal-button');
</script>
</div>